<a href="https://colab.research.google.com/github/ammshreya/InternalProject-CreditCardFraud/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#loading te dataset
credit_card_data = pd.read_csv('creditcard.csv')

In [ ]:
#to get the firat 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
21873,31906,1.285161,-0.701455,0.221870,-0.744753,-0.674967,0.034267,-0.631373,0.097860,-0.835749,...,0.083025,0.190059,-0.074942,-0.278466,0.463615,-0.223877,0.011735,0.000997,39.75,0.0
21874,31906,-0.345979,1.094568,1.282208,0.068241,-0.016965,-0.989567,0.693958,-0.050855,-0.333856,...,-0.266852,-0.723026,-0.003364,0.322646,-0.173496,0.073145,0.241997,0.097610,5.99,0.0
21875,31907,1.171852,0.718042,-0.227521,1.373722,0.152349,-0.949840,0.271427,-0.153000,-0.184297,...,-0.013584,0.088759,-0.059148,0.278992,0.589886,-0.319374,0.055064,0.058347,1.00,0.0
21876,31907,1.209330,-1.130242,1.614261,0.000265,-1.974416,0.262320,-1.369554,0.173769,0.639855,...,-0.520157,-0.573057,0.037646,0.488580,0.161446,1.067798,0.025745,0.028549,40.00,0.0
21877,31907,-0.184653,0.376693,0.632988,-2.282365,0.403553,-0.371666,0.695359,-0.064835,0.610986,...,-0.130997,-0.312833,-0.156567,-0.899683,0.093186,-0.130187,0.029255,0.009228,NaN,NaN

In [6]:
#to get the information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21878 entries, 0 to 21877
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    21878 non-null  int64
 1   V1      21878 non-null  float64
 2   V2      21878 non-null  float64
 3   V3      21878 non-null  float64
 4   V4      21878 non-null  float64
 5   V5      21878 non-null  float64
 6   V6      21878 non-null  float64
 7   V7      21878 non-null  float64
 8   V8      21878 non-null  float64
 9   V9      21878 non-null  float64
 10  V10     21878 non-null  float64
 11  V11     21878 non-null  float64
 12  V12     21878 non-null  float64
 13  V13     21878 non-null  float64
 14  V14     21878 non-null  float64
 15  V15     21878 non-null  float64
 16  V16     21878 non-null  float64
 17  V17     21878 non-null  float64
 18  V18     21878 non-null  float64
 19  V19     21878 non-null  float64
 20  V20     21878 non-null  float64
 21  V21     21878 non-null  float64
 22  V22     21878 non-null  float64
 23  V23     21878 non-null  float64
 24  V24     21878 non-null  float64
 25  V25     21878 non-null  float64
 26  V26     21878 non-null  float64
 27  V27     21878 non-null  float64
 28  V28     21878 non-null  float64
 29  Amount  21877 non-null  float64
 30  Class   21877 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 5.2 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [8]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    21791
1.0       86
Name: Class, dtype: int64

In [9]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(21791, 31)
(86, 31)

In [11]:
legit.Amount.describe()

count    21791.000000
mean        71.637403
std        204.790148
min          0.000000
25%          5.990000
50%         17.500000
75%         62.120000
max       7879.420000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count      86.000000
mean       93.996860
std       260.195133
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,16920.948098,-0.207315,0.197324,0.790011,0.238431,-0.151823,0.097864,-0.108141,0.001903,0.576156,...,0.036815,-0.045323,-0.139174,-0.036473,0.011836,0.124802,0.028728,0.008602,0.005937,71.637403
1.0,17592.162791,-8.792044,6.504115,-12.461366,6.302522,-6.112129,-2.534417,-8.479521,4.438385,-3.005413,...,0.704824,0.536947,-0.386820,-0.379114,-0.264854,0.349233,0.177437,0.867258,0.096510,93.996860

In [15]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7549,10362,0.950605,-0.325516,1.220609,1.639310,-0.929900,0.247928,-0.729555,0.203049,2.255058,...,0.035148,0.267389,-0.105165,-0.001905,0.317100,-0.255386,0.028895,0.038127,96.00,0.0
20401,31016,-0.467235,1.158240,1.865485,2.505720,0.165862,0.041938,0.547914,-0.033259,-0.890729,...,0.072051,0.409023,-0.167760,0.442019,-0.306378,0.055639,0.050791,0.162722,11.68,0.0
16712,28074,-0.903963,0.641317,2.011656,1.346666,-0.699591,1.009799,-0.261521,0.895080,-0.716736,...,0.007170,-0.073279,0.189733,0.064963,-0.355835,0.810706,-0.136520,-0.052141,75.00,0.0
9636,14442,1.255417,-0.195632,0.279737,-0.149670,-0.003724,0.711596,-0.703141,0.217172,1.695025,...,-0.086262,-0.023370,-0.156447,-1.348279,0.256511,1.130708,-0.084054,-0.023402,15.95,0.0
689,521,1.132712,-0.931559,0.913450,-0.804352,-1.066478,0.577369,-1.153211,0.300888,-0.793747,...,0.533603,1.436067,-0.114943,-0.206096,0.255425,-0.016737,0.061154,0.020807,69.99,0.0

In [18]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
18466,29526,1.102804,2.829168,-3.932870,4.707691,2.937967,-1.800904,1.672734,-0.300240,-2.783011,...,-0.106994,-0.250050,-0.521627,-0.448950,1.291646,0.516327,0.009146,0.153318,0.68,1.0
18472,29531,-1.060676,2.608579,-2.971679,4.360089,3.738853,-2.728395,1.987616,-0.357345,-2.757535,...,-0.063168,-0.207385,-0.183261,-0.103679,0.896178,0.407387,-0.130918,0.192177,0.68,1.0
18773,29753,0.269614,3.549755,-5.810353,5.809370,1.538808,-2.269219,-0.824203,0.351070,-3.759059,...,0.371121,-0.322290,-0.549856,-0.520629,1.378210,0.564714,0.553255,0.402400,0.68,1.0
18809,29785,0.923764,0.344048,-2.880004,1.721680,-3.019565,-0.639736,-3.801325,1.299096,0.864065,...,0.899931,1.481271,0.725266,0.176960,-1.815638,-0.536517,0.489035,-0.049729,30.30,1.0
20198,30852,-2.830984,0.885657,1.199930,2.861292,0.321669,0.289966,1.767760,-2.451050,0.069736,...,0.546589,0.334971,0.172106,0.623590,-0.527114,-0.079215,-2.532445,0.311177,104.81,1.0

In [19]:
new_dataset['Class'].value_counts()

0.0    492
1.0     86
Name: Class, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,16853.725610,-0.291443,0.243429,0.798850,0.243069,-0.122737,0.141626,-0.067813,0.003447,0.614518,...,0.039364,-0.059762,-0.153641,-0.032788,0.068329,0.120966,-0.007187,-0.013452,-0.00480,65.377114
1.0,17592.162791,-8.792044,6.504115,-12.461366,6.302522,-6.112129,-2.534417,-8.479521,4.438385,-3.005413,...,0.704824,0.536947,-0.386820,-0.379114,-0.264854,0.349233,0.177437,0.867258,0.09651,93.996860

Splitting the data into Features & Targets

In [21]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [22]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
7549   10362  0.950605 -0.325516  1.220609  1.639310 -0.929900  0.247928
20401  31016 -0.467235  1.158240  1.865485  2.505720  0.165862  0.041938
16712  28074 -0.903963  0.641317  2.011656  1.346666 -0.699591  1.009799
9636   14442  1.255417 -0.195632  0.279737 -0.149670 -0.003724  0.711596
689      521  1.132712 -0.931559  0.913450 -0.804352 -1.066478  0.577369
...      ...       ...       ...       ...       ...       ...       ...
18466  29526  1.102804  2.829168 -3.932870  4.707691  2.937967 -1.800904
18472  29531 -1.060676  2.608579 -2.971679  4.360089  3.738853 -2.728395
18773  29753  0.269614  3.549755 -5.810353  5.809370  1.538808 -2.269219
18809  29785  0.923764  0.344048 -2.880004  1.721680 -3.019565 -0.639736
20198  30852 -2.830984  0.885657  1.199930  2.861292  0.321669  0.289966

             V7        V8        V9  ...       V20       V21       V22  \
7549  -0.729555  0.203049  2.255058  ... -0.138214  0.035148  0.267389
20401  0.547914 -0.033259 -0.890729  ... -0.015154  0.072051  0.409023
16712 -0.261521  0.895080 -0.716736  ... -0.004639  0.007170 -0.073279
9636  -0.703141  0.217172  1.695025  ... -0.112307 -0.086262 -0.023370
689   -1.153211  0.300888 -0.793747  ...  0.207244  0.533603  1.436067
...         ...       ...       ...  ...       ...       ...       ...
18466  1.672734 -0.300240 -2.783011  ... -0.030880 -0.106994 -0.250050
18472  1.987616 -0.357345 -2.757535  ... -0.089062 -0.063168 -0.207385
18773 -0.824203  0.351070 -3.759059  ...  0.310525  0.371121 -0.322290
18809 -3.801325  1.299096  0.864065  ...  0.170872  0.899931  1.481271
20198  1.767760 -2.451050  0.069736  ... -1.016923  0.546589  0.334971

            V23       V24       V25       V26       V27       V28  Amount
7549  -0.105165 -0.001905  0.317100 -0.255386  0.028895  0.038127   96.00
20401 -0.167760  0.442019 -0.306378  0.055639  0.050791  0.162722   11.68
16712  0.189733  0.064963 -0.355835  0.810706 -0.136520 -0.052141   75.00
9636  -0.156447 -1.348279  0.256511  1.130708 -0.084054 -0.023402   15.95
689   -0.114943 -0.206096  0.255425 -0.016737  0.061154  0.020807   69.99
...         ...       ...       ...       ...       ...       ...     ...
18466 -0.521627 -0.448950  1.291646  0.516327  0.009146  0.153318    0.68
18472 -0.183261 -0.103679  0.896178  0.407387 -0.130918  0.192177    0.68
18773 -0.549856 -0.520629  1.378210  0.564714  0.553255  0.402400    0.68
18809  0.725266  0.176960 -1.815638 -0.536517  0.489035 -0.049729   30.30
20198  0.172106  0.623590 -0.527114 -0.079215 -2.532445  0.311177  104.81

[578 rows x 30 columns]

In [23]:
print(Y)

7549     0.0
20401    0.0
16712    0.0
9636     0.0
689      0.0
        ...
18466    1.0
18472    1.0
18773    1.0
18809    1.0
20198    1.0
Name: Class, Length: 578, dtype: float64

Spliting the data into Training data and Testing data

In [24]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(578, 30) (462, 30) (116, 30)

Training the model
Logistic Regression

In [29]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

In [31]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [32]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9696969696969697

In [33]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9396551724137931